<!--<div th:fragment="header2">-->
  <header class="header" th:fragment="header2">
    <div class="container" > <!--حواف الموقع -->
      <div class="logo">
        <img src="/image/electric-car.png" style="width: 50px;height: 50px"  > Electric CARS
      </div>
      <ul>
        <li data-filter="" class="active" > <a th:href="@{/hi}" >Home</a> </li>
        <li data-filter="" class="">  <a th:href="@{/viewCars}" >Cars</a> </li>
        <li data-filter="" class="" > <a th:href="@{/viewBrands}" >Brands</a> </li>
        <li data-filter="" class="" > <a th:href="@{viewModels}">Models</a>  </li>
        <li data-filter="" class="" > <a th:href="@{viewCities}">Cities</a> </li>
      </ul>
      <div class="bars">
        <i class="fas fa-bars" ></i>
      </div>
    </div>
  </header>
<!--</div>-->

