<!--<div th:fragment="header2">-->
  <header class="header" th:fragment="header2">
    <div class="container" > <!--حواف الموقع -->
      <div class="logo">
        <img src="/image/electric-car.png" style="width: 50px;height: 50px"  > Electric CARS
      </div>
      <ul>
        <li data-filter="" class="active" > <a href="http://localhost:8084/hi" >Principal Page</a> </li>
        <li data-filter="" class="">  <a href="http://localhost:8084/viewCars/0/20" >All Cars</a> </li>
        <li data-filter="" class="" > <a href="http://localhost:8084/viewBrands" >All Brands</a> </li>
        <li data-filter="" class="" > <a href="http://localhost:8084/viewModels/0/20">All Models</a>  </li>
        <li data-filter="" class="" > <a href="http://localhost:8084/viewCities">All Cities</a> </li>
      </ul>
      <div class="bars">
        <i class="fas fa-bars" ></i>
      </div>
    </div>
  </header>
<!--</div>-->

